<a href="https://colab.research.google.com/github/itsGab/projeto-bootcamp-modulo-2-data-science/blob/main/nb-projeto/projeto_modulo2_rascunho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align='center'> üë∑ üöß PROJETO EM CONSTRUCAO üöß </h1>

# PROJETO MODULO 2

---
#### BOOTCAMP DE DATA SCIENCE APLICADA 2 DA ALURA

# Explica√ß√£o

>Boas vindas ao Projeto do M√≥dulo 02! Neste projeto queremos que voc√™ aplique tudo que aprendeu no m√≥dulo 1 e 2, analisando dados do programa de imuniza√ß√£o nacional, voc√™ pode analisar dados de imunos escolhidos por voc√™, pode analisar toda a base de dados, apenas do seu estado ou de estados espec√≠ficos. Pode analisar as taxas, a cobertura ou as doses calculadas. Ademais, voc√™ pode buscar outras fontes de informa√ß√µes fora do DataSUS e usar outros dados do DataSUS para enriquecer suas an√°lises.<br><br>
Seguem algumas dicas para voc√™ mandar bem no desafio final do m√≥dulo: capriche nas an√°lises, escreva suas conclus√µes e hip√≥teses (mesmo que o resultado seja inconclusivo) e n√£o esque√ßa de colocar um resumo dos pontos que julgar mais interessantes do seu projeto.<br><br>
Temos um conjunto de dicas para este projeto. Portanto, fique de boa, use elas como um guia para a constru√ß√£o da sua pesquisa e mergulhe fundo!<br><br>
S√£o boas pr√°ticas de projeto:<br><br>
* Delimitar o escopo do projeto de acordo com o tempo e o aprendizado desse m√≥dulo;
* Utilizar a base de dados sugerida;
* Estruturar o projeto de maneira organizada e l√≥gica;
* Criar um notebook que tenha um enredo atraente e coerente;
* Tratar e descrever seus dados quando necess√°rio;
* Fundamentar bem o cruzamento dos dados (se voc√™ utilizar outras bases);
* Aplicar as t√©cnicas de configura√ß√µes de gr√°ficos para torn√°-los compreens√≠veis e para criar argumenta√ß√µes embasadas neles;
* Se poss√≠vel, fazer pesquisas para ir al√©m do apresentado no m√≥dulo;
* Fazer uma conclus√£o que relate as limita√ß√µes do projeto, dando ideias para projetos futuros e apresentando os principais resultados da an√°lise;
* Citar e trazer as fontes de todo o conte√∫do que apresentar e n√£o for de sua autoria.<br><br>

---

# Execu√ß√£o

<h3 align='center'>PROJETO - MODULO 2</h3>

---
<h4 align='center'>ANALISE DA COBERTURA DE VACINACAO CONTRA A FEBRE AMARELA NAS REGIOES ENDEMICAS DO BRASIL, DE 2008 A 2018 E A QUANTIDADE DE CASOS REGISTRADOS</h4>

---

## REFERENCIAL - *mover para o fim!*

Imuniza√ß√µes - desde 1994 - [TABNET](http://www2.datasus.gov.br/DATASUS/index.php?area=0202&id=11637)
> Pegar (febre amarela):
* Cobertura

---

Epidemiol√≥gicas e Morbidade - [TABNET](http://www2.datasus.gov.br/DATASUS/index.php?area=0203)
> Em "Doen√ßas e Agravos de Notifica√ß√£o" pegar (febre amarela):
* 2007 em diante
* 2001 a 2006

---

Morbidade Hospitalar do SUS (SIH/SUS) - [TABNET](http://www2.datasus.gov.br/DATASUS/index.php?area=0203&id=6926)
> Pegar (febre amarela):
* Internacoes

---

Popula√ß√£o Residente - Estimativas para o TCU - Brasil - [TABNET](http://tabnet.datasus.gov.br/cgi/deftohtm.exe?ibge/cnv/poptuf.def)
> Pegar:
* Estimativas populacionais


---

> *Refer√™ncias sobre febre amarela:*
<br>[Materia sobre ampliacao do publico alvo](http://bvsms.saude.gov.br/ultimas-noticias/3089-em-2020-ministerio-da-saude-amplia-publico-para-vacinas-contra-febre-amarela-e-gripe)
<br>[P√∫blicos-alvo de vacinas contra gripe e febre amarela ser√£o ampliados](https://www.fiotec.fiocruz.br/noticias/outros/6966-publicos-alvo-de-vacinas-contra-gripe-e-febre-amarela-serao-ampliados-em-2020)
<br>[Febre amarela - Secretaria da Sa√∫de PR](https://www.saude.pr.gov.br/Pagina/Febre-amarela)
<br>[Febre amarela alerta sul e sudeste - Minist√©rio da Sa√∫de](https://www.gov.br/saude/pt-br/assuntos/noticias/ministerio-da-saude-alerta-sul-e-sudeste-sobre-febre-amarela)

## INTRODU√á√ÉO

*Comparar a **taxa de cobertura** da vacinacao com o numero de **casos registrados** e/ou com o **numero de internacoes** por febre amarela! Comparar anos de maior coberto se houve infeccao menor percentualmente em **relacao a populacao** do estado.*

### FEBRE AMARELA

A **febra amarela** √© uma doen√ßa infecciosa febril aguda, causada por um v√≠rus transmitido por mosquitos.
Seus principais ciclos de tramiss√£o s√£o: 

* O **silvestre**, transmitida em √°reas rural e de floresta do macaco para o humano atrav√©s do mosquito.

* O **urbano**, transmitida em √°reas urbanas pelo mosquito Aedes aegypti atrav√©s da picada.

---
O √∫ltimo caso de febre amarela **urbana** foi registrado no Brasil em 1942 e todos os casos confirmados desde ent√£o decorrem do ciclo silvestre de transmiss√£o.

---
Atualmente, a febre amarela **silvestre** (FA) √© uma doen√ßa end√™mica no Brasil (regi√£o amaz√¥nica). Na regi√£o extra-amaz√¥nica, per√≠odos epid√™micos s√£o registrados ocasionalmente, caracterizando a reemerg√™ncia do v√≠rus no Pa√≠s.

---
**Preven√ß√£o:**

A **vacina** √© a principal ferramenta de preven√ß√£o e controle da febre amarela. O Sistema √önico de Sa√∫de (SUS) oferta vacina contra febre amarela para a popula√ß√£o. Desde abril de 2017, o Brasil adota o esquema vacinal de apenas uma dose durante toda a vida, medida que est√° de acordo com as recomenda√ß√µes da Organiza√ß√£o Mundial de Sa√∫de (OMS).

Toda pessoa que reside em **√Åreas com Recomenda√ß√£o da Vacina** contra febre amarela e pessoas que v√£o viajar para essas √°reas deve se imunizar.

---
O **p√∫blico-alvo** para vacina√ß√£o s√£o pessoas a partir de nove meses de vida e 59 anos de idade que n√£o tenham comprova√ß√£o de vacina√ß√£o

---
> Fontes:<br>[Secretaria da Sa√∫de PR](https://www.saude.pr.gov.br/Pagina/Febre-amarela)<br>[Minist√©rio da Sa√∫de](https://www.gov.br/saude/pt-br/assuntos/noticias/ministerio-da-saude-alerta-sul-e-sudeste-sobre-febre-amarela)

## PREPARA√á√ÉO DOS DADOS

Os dados brutos foram previamente tratados.

Links para acesso:
* [Notebooks de tratamento](https://github.com/itsGab/projeto-bootcamp-modulo-2-data-science/tree/main/nb-limpeza-dados)
* [Dados brutos](https://github.com/itsGab/projeto-bootcamp-modulo-2-data-science/tree/main/dados-brutos)
* [Dados tratados](https://github.com/itsGab/projeto-bootcamp-modulo-2-data-science/tree/main/dados-limpos)

In [8]:
import pandas as pd

**Cobertura vacinal** de febre amarela (1994 - 2021, por ano de processamento)

In [9]:
# cobertura vacinal de febre amarela
# periodo: 1994 - 2021 (por ano de processamento)
dados_cobertura_vacinal = 'https://github.com/itsGab/projeto-bootcamp-modulo-2-data-science/raw/main/dados-limpos/cobertura_vacinal_pivot.csv'
vacinal = pd.read_csv(dados_cobertura_vacinal, index_col=0)

In [10]:
vacinal.head()

          ano      ro     ac      am      rr  ...    rs     ms     mt     go    df
0  1994-01-01    8.29   0.00    7.55    3.70  ...  0.00   0.00   5.70   2.21  0.00
1  1995-01-01   49.44  63.59   16.68   33.29  ...  0.00   0.00  18.66  10.10  0.00
2  1996-01-01   66.06  30.00   69.11   46.30  ...  0.00  34.01  18.02  21.46  0.92
3  1997-01-01   97.43  85.83   74.31   53.11  ...  0.02  51.61  29.89  31.83  4.02
4  1998-01-01  115.31  73.51  108.21  112.89  ...  0.51  70.34  70.74  59.51  3.46

[5 rows x 28 columns]

**Casos** de febre amarela (2001 - 2016, por ano de processamento)

In [11]:
# casos de febre amarela
# periodo: 2001 - 2016 (por ano de processamento)
dados_casos_fa = 'https://github.com/itsGab/projeto-bootcamp-modulo-2-data-science/raw/main/dados-limpos/casos_fa_pivot.csv'
casos = pd.read_csv(dados_casos_fa, index_col=0)

In [12]:
casos.head()

          ano  ro  ac  am  rr  pa  ap  to  ...  sp  pr  sc  rs  ms  mt  go  df
0  2001-01-01   1   0   4   1   3   0   0  ...   0   0   0   0   0   0   0   0
1  2002-01-01   0   0   3   1   0   1   0  ...   0   0   0   0   0   0   0   0
2  2003-01-01   0   0   0   0   0   1   0  ...   0   0   0   0   0   4   0   0
3  2004-01-01   0   0   2   0   1   0   0  ...   1   0   0   0   0   0   0   0
4  2005-01-01   0   0   3   1   0   0   0  ...   0   0   0   0   0   0   0   0

[5 rows x 28 columns]

**Interna√ß√µes** (1998 - 2007, por ano de processamento)

In [13]:
# casos de fa, internacao por ano de processamento
# periodo: 1998 - 2007 (por ano de processamento)
dados_int_proce = 'https://github.com/itsGab/projeto-bootcamp-modulo-2-data-science/raw/main/dados-limpos/internacoes_fa_por_ano_proce_pivot.csv'
inter_proce = pd.read_csv(dados_int_proce, index_col=0)

In [14]:
inter_proce.head()

  ano processamento  ro  ac  am  pa  ap  to  ma  ...  sp  pr  sc  rs  ms  mt  go  df
0        1998-01-01   0   3   7   1   2   0   1  ...   3   1   2   0   0   0   1   1
1        1999-01-01   1   1   2   7   2   1   0  ...   3   1   0   2   0   0   1   0
2        2000-01-01   0   0   1   3   0   2   1  ...   8   0   2   0   0   5   4   8
3        2001-01-01   0   1   0   0   0   1   3  ...   6   0   2   2   0   0   0   1
4        2002-01-01   0   1   1   1   0   1   0  ...   1   1   2   1   0   1   0   1

[5 rows x 26 columns]

**Interna√ß√µes** (2007 - 2021, por ano de atendimento)

In [15]:
# casos de fa, internacao por ano do atendimento
# periodo: 2007 - 2021 (por ano de atendimento)
dados_int_atend = 'https://github.com/itsGab/projeto-bootcamp-modulo-2-data-science/raw/main/dados-limpos/internacoes_fa_por_ano_atend_pivot.csv'
inter_atend = pd.read_csv(dados_int_atend, index_col=0)

In [16]:
inter_atend.head()

  ano atendimento  ro  am  pa  ap  to  ma  pi  ...  sp  pr  sc  rs  ms  mt  go  df
0      2007-01-01   0   1   0   0   0   0   0  ...   1   0   0   0   0   0   1   0
1      2008-01-01   0  13   2   0   0   0   0  ...   5   2   1   3   2   1   0   1
2      2009-01-01   0  13   2   1   0   0   0  ...  21   1   0   8   0   0   0   1
3      2010-01-01   0  13   2   0   0   0   0  ...   1   0   0   2   1   0   0   3
4      2011-01-01   0   3   0   0   0   1   0  ...   2   2   0   2   0   0   2   0

[5 rows x 25 columns]

**Popula√ß√£o estimada** (1992 - 2019)

In [17]:
# populacao estimada
# periodo: 1992 - 2019
dados_pop_est = 'https://github.com/itsGab/projeto-bootcamp-modulo-2-data-science/raw/main/dados-limpos/populacao_estimada_pivot.csv'
populacao = pd.read_csv(dados_pop_est, index_col=0)

In [18]:
populacao.head()

          ano       ro      ac       am  ...       ms       mt       go       df
0  1992-01-01  1190739  428006  2165852  ...  1818175  2107698  4098513  1639035
1  1993-01-01  1241693  437495  2217600  ...  1850162  2178178  4171489  1673151
2  1994-01-01  1291214  446480  2269555  ...  1881868  2246757  4240812  1705889
3  1995-01-01  1339507  455242  2320221  ...  1912788  2313634  4308415  1737813
4  1997-01-01  1255522  500185  2460602  ...  1964603  2287846  4639785  1877015

[5 rows x 28 columns]

## 4. An√°lise Explorat√≥ria dos Dados

## 5. Cria√ß√£o de Hip√≥teses

## 6. Conclus√£o

In [19]:
# Apresentar conclusoes!